@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Diabetes Application</h1>
    <p>
        Diabetes Application is an application that
        helps people with diabetes keep track  of their health and medical condition.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A1C Test</h2>
        <p>
            The A1C test is a blood test that provides information about your average levels of blood glucose,
            also called blood sugar, over the past 3 months.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Blood Sugar</h2>
        <p>
            The blood sugar level, blood sugar concentration, or blood glucose level is the concentration
            of glucose present in the blood of humans and other animals. Glucose is a simple sugar and
            approximately 4 grams of glucose are present in the blood of a 70-kilogram human at all times.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Blood Pressure</h2>
        <p>
            Blood pressure readings have two numbers, for example 140/90mmHg.
            The top number is your systolic blood pressure.
            (The highest pressure when your heart beats and pushes the blood round your body.)
            The bottom one is your diastolic blood pressure.
            (The lowest pressure when your heart relaxes between beats.)
        </p>
    </div>
</div>